.titre {
  padding: 30vh 0 0 5vh;
}

.padding-top {
  padding-top: 20vh;
}

/* CARDS */

.card {
  background-color: white;
  color: black;
  height: 100%;
  box-shadow: 1px 4px 10px white;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.card:hover {
  transform: scale(1.05);
  box-shadow: 1px 6px 15px rgba(0, 0, 0, 0.2);
  box-shadow: 1px 4px 10px white;
}
